@media(max-width:768px) {
    
    #showcase #navbar{
        flex-direction: column;
        align-items: center;
        opacity: 0.95;
        

    }
    #navbar h1{
    size: 10px 30px;    }
    
    
    #navbar ul li{
        font-size: 13px;
        margin: 0 -5px;
    }



    button {
    
        color: rgb(0, 0, 0);
        margin-right: 0.5rem;
        background-color: rgb(115, 167, 245);
        border: none;
        border-radius: 2px;
        font-size: 9px;
        
        
 }

    #navbar .logo{
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .l-heading{
        margin: 0rem 1.5rem;
    }
    #showcase{
        height: 102vh;
    }
    #showcase .showcase-content {
    
        margin-top: -16px;
    }
        #showcase .showcase-content h3{
          text-align: center;
        }
    
        
      
    
    #showcase .btn{
        padding: 0.3rem 2rem;
        border: none ;
        border-radius: 5px;
    }

     #showcase  .l-heading{
        font-size: 1.8rem ;
     }
     #showcase .lead{
         font-size: 0.9rem;
         padding: 0 0;
     }
  
     #anket{
         flex-direction: column;
     }


     #id01 .modal-content {
        width: 90%;
        
     }
    }
#web1 img{
    display: none;
}