@media(max-width:768px) {
    
    #showcase #navbar{
        flex-direction: column;
        align-items: center;
        opacity: 0.8;
        

    }
    #navbar h1{
       display: none ;
    }
    
    
    #navbar ul li{
        font-size: 13px;
        margin: 0 -5px;
    }



    button {
    
        color: rgb(0, 0, 0);
        margin-right: 0.5rem;
        background-color: rgb(115, 167, 245);
        border: none;
        border-radius: 2px;
        font-size: 9px;
        
        
 }

    #navbar .logo{
        margin-bottom: 0.5rem;
        text-align: center;
    }
    #showcase {
        height: 100vh;
        margin-top: -16px;
    
        
      
    }
    #showcase .btn{
        padding: 0.3rem 2rem;
        border: none ;
        border-radius: 5px;
    }

     #showcase  .l-heading{
        font-size: 1.8rem ;
     }
     #showcase .lead{
         font-size: 0.9rem;
         padding: 0 0;
     }

     #anket{
         flex-direction: column;
     }

     .zaavar{
         display: none;
     }

     #id01 .modal-content {
        width: 90%;
        
     }
    }
